{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrafiCalc Web</title>
    <link rel="stylesheet" href="{% static 'interpreter/css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="editor">
            <h1>GrafiCalc Web</h1>

            <form method="post" enctype="multipart/form-data" class="editor-form">
                {% csrf_token %}
                <div class="file-upload">
                    <label for="arquivo_dados">1️ - Faça o upload do seu ficheiro (.csv ou .xlsx)</label>
                    <input type="file" name="arquivo_dados" id="arquivo_dados" accept=".csv, .xlsx">
                </div>

                <label for="codigo_area" class="codigo-label">2️ - Escreva o seu código</label>
                <textarea name="codigo" id="codigo_area" placeholder='Use CARREGAR ARQUIVO COMO nome_variavel para abrir o seu ficheiro. Exemplo:
CARREGAR ARQUIVO COMO meus_dados
PLOTAR GRAFICO DE BARRAS COM EIXO_X "ColunaA" E EIXO_Y "ColunaB" DE meus_dados SALVAR COMO "grafico.png"'>{{ codigo_submetido }}</textarea>
                
                <button type="submit"> Executar</button>
            </form>
        </div>

        <div class="output">
            <h2>Resultados</h2>
            {% for res in resultados %}
                <div class="resultado {{ res.type }}">
                    {% if res.type == 'message' or res.type == 'error' %}
                        <p>{{ res.content }}</p>
                    {% elif res.type == 'table' %}
                        <p><strong>Visualização de dados de '{{ res.variable_name }}' (primeiras 5 linhas):</strong></p>
                        {{ res.content|safe }}
                    {% elif res.type == 'image' %}
                        <p><strong>Pré-visualização do Gráfico:</strong></p>
                        <img src="data:image/png;base64,{{ res.content }}" alt="Gráfico Gerado: {{ res.filename }}">
                        
                        <div class="download-link">
                            <a href="data:image/png;base64,{{ res.content }}" download="{{ res.filename }}">
                                 Fazer Download
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
